.DS_Store
.sconf_temp/
.sconsign.dblite
*.deb
*.egg-info
*.elf
*.hex
*.img
*.img.bz2
*.img.gzip
*.img.xz
*.pyc
*.so
*.tmp
*.zip
**/__pycache__
*~
\#*
build
dist
node_modules
null.d
rpi-root
rpi-share
src/bbserial/linux-rpi-raspberrypi-kernel*
src/bbserial/raspberrypi-kernel*
