include package.json README.md requirements.txt
graft scripts
graft python-packages
graft src/py/bbctrl/http
graft src/py/camotics
include src/avr/bbctrl-avr-firmware.hex
include src/bbserial/bbserial.ko
global-exclude .gitignore
