include package.json README.md requirements.txt
graft installer
include scripts/install.sh
graft src/py/bbctrl/http
graft src/py/camotics
include src/avr/bbctrl-avr-firmware.hex
include src/bbserial/bbserial.ko
global-exclude .gitignore
