script#help-view-template(type="text/x-template")
    #help
        h2 Support &amp; Contact Info
        p
            | Please visit
            |
            a(href="https://onefinitycnc.com/support", target="_blank")
                | onefinitycnc.com/support
            |
            | for a variety of support resources, and to find our contact information.

        h2 Discussion Forum
        p
            | Check out our support and discussion forum at
            |
            a(href="https://forum.onefinitycnc.com", target="_blank")
                | forum.onefinitycnc.com
            | . Register on the site and post a message. We can't wait to hear from you.
        p
            | We also maintain a list of
            |
            a(href="https://forum.onefinitycnc.com/t/what-cad-cam-software-can-be-used-to-make-gcode-files-for-the-onefinity-cnc/10253", target="_blank")
                | recommended software packages
            |
            | on the forum.

        h2 Credits &amp; Acknowledgements
        h4(style="margin-bottom: 0;") Artwork
        p(style="margin-top: 0;")
            | Special thanks to
            |
            a(href="https://www.instagram.com/fierysquirrelart/", target="_blank")
                | @fierysquirrelart
            |
            | for many of the graphics used in the controller.

        h4(style="margin-bottom: 0;") Buildbotics
        p(style="margin-top: 0;")
            | This controller is based on the
            |
            a(href="http://buildbotics.com", target="_blank")
                | Buildbotics CNC Controller
            | .
