script#macros-template(type="text/x-template")
  #macros
    message(:show.sync="confirmReset")
      h3(slot="header") Delete All Macros?
      div(slot="body")
        p Are you sure you want to Delete all macros?

      div(slot="footer")
        button.pure-button(@click="confirmReset=false") Cancel
        button.pure-button.pure-button-primary(@click="deleteAllMacros")
          | Delete All

    message(:show.sync="confirmSave")
        h3(slot="header") Confirm Save?
        div(slot="body")
            p Are you sure you want to save the current settings?
            
        div(slot="footer")
          button.pure-button(@click="confirmSave=false") Cancel
          button.pure-button.pure-button-primary(@click="saveMacros") Confirm

    message(:show.sync="deleteGCode")
        h3(slot="header") Delete?
        p(slot="body")
        div(slot="footer")
          button.pure-button(@click="deleteGCode = false") Cancel
          button.pure-button.button-success(@click="delete_current")
            .fa.fa-trash
            | &nbsp;Selected

    h1 Macros Configuration
    .flex-row-container
        button.config-button(title="Reset Macros", @click="confirmReset=true") Delete All Macros
                .fa.fa-rotate-right
        button.config-button(title="Add a Macros", @click="addNewMacros", style="margin-left:5px") Add a Macros
                .fa.fa-plus

    .tabs
        input(type="radio",v-for="(index,macros) in config.macros",:id="'tab'+index",
                :name="tabs", @click="tab=index")
        label(v-for="(index,macros) in config.macros",:for="'tab'+index",style="height:50px;width:100px",:key="index") Macros {{index+1}}

        section.tab-content(v-for="(index,macros) in config.macros",:id="'content'+index",:key="index")
                .macros-form
                        p.title Name
                        .input-container
                                input.input-color(type="color",:id="'macros-color-'+index",value="#ffffff") 
                                input.input-name(type="text",minlength='1',maxlength='15',:id="'macros-name-'+index" ,v-model="getMacrosName")
                        p.title G-Code
                        .flex-row-container                      
                                select(:id="'gcodeSelect-'+index",title="Select previously uploaded GCode programs.",selected
                                        v-model="selectedValues[index]",@change="loadMacrosGcode", :disabled="!is_ready",
                                        style="max-width:100%;height:40px;border-radius:5px")
                                        option( selected='' value='default')  Create G-Code
                                        option(v-for="file in macrosList", :value="file") {{file}}

                                button.blue-button(title="Upload a new GCode program.", @click="open",
                                        :disabled="!is_ready") Upload
                                        .fa.fa-upload

                                form.gcode-file-input.file-upload
                                        input(type="file", @change="uploadMacrosGcode", :disabled="!is_ready",
                                        accept=".nc,.ngc,.gcode,.gc")
                                button.blue-button(title="Delete Macros GCode",@click="deleteGCode = true",
                                        :disabled="!selectedValues[index]=='default'") Delete
                                        .fa.fa-trash
                        br
                        .gcodeContainer
                                textarea.new-gcode(id="gcode-field", :value="newGcode[index]" @input="updateNewGcode")

        button.submit-macros.button-submit(title="Save Macros",@click="confirmSave=true",:disabled="!edited") Save
        button.submit-macros(title="Cancel Macros",@click="cancelMacros",style="margin-left:5px;background-color:#fafafa;") Cancel

        button.submit-macros(title="Cancel Macros",@click="printState",style="margin-left:5px") Print State
        button.submit-macros(title="Cancel Macros",@click="printConfig",style="margin-left:5px") Print Config
        button.submit-macros(title="Cancel Macros",@click="resetMacrosList",style="margin-left:5px") Reset Macros List
