script#macros-template(type="text/x-template")
  #macros
    h1 Macros Configuration
        .macros-form
          h3 Name
          input.input-name(type="text",id="macros-name",value="e.g Macros 1 ")
        .macros-form
          h3 Select/Upload G-Code
          button.pure-button(title="Upload a new GCode program.", @click="open",
                    :disabled="!is_ready",style="height:100px;width:100px;font-weight:normal")
                    .fa.fa-folder-open
          select(title="Select previously uploaded GCode programs.",
                    v-model="state.selected", @change="load", :disabled="!is_ready",
                    style="max-width:100%")
                    option(v-for="file in state.files", :value="file") {{file}}
          gcode-viewer
